body {
 font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
};


#grow {
  size: 25px;
  padding: 24px 0px 0px;
}

span {
  text-decoration: underline;
}


#info {
  font-size: 16px;
}

#growHeading {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 18px;
}

#firstBlock {
  margin-bottom: 25px
}

#growing {
  padding: 24px 0px;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 25px;

}

#fifty {
  font-size: 50px;
  font-weight: 600;
  
}

#secondBlock {
  margin-bottom: 25px;
}

#thirdBlock {
  margin-bottom: 25px;
}

#secondBlockHeader {
  font-size: 24px;
}

#thirdBlockHeader {
  font-size: 24px;
  color: #1e3932;
  font-weight: 600;
}

#join {
  font-size: 19px;
  font-weight: 400px;
  color: #1e3932;
}

#happening {
  font-size: 19px;
  font-weight: 400px;
}

#history {
  font-size: 24px;
  text-align: center;
}

#collapsibleNavbar {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.apply {
  color: black;
}

#tricks {
  font-size: 50px;
  color: #1e3932;
}

#spirit {
  font-size: 24px;
  color: #1e3932;
}

#fourthBlock {
  margin-bottom: 25px;
}

#comfort {
  font-size: 50px;
  font-weight: 600px;
  color: #1e3932;
}

#apple {
  font-size: 24px;
  color: #1e3932;
}

#fifthBlock {
  margin-bottom: 25px;
}

.earning {
  color: #1e3932;
  font-size: 24px;
  font-weight: 600;
}

.visa {
  color: #1e3932;
  font-size: 19px;
  font-weight: 400;
}

.payPickUp {
  color: #1e3932;
  font-size: 19px;
  font-weight: 400;
}

.fall {
  color: #1e3932;
  font-size: 24px;
  font-weight: 600;
}

.navButton1 {
background-color: white;
color: rgba(0,0,0,.87);
font-size: 1.4rem;
padding: 7px 16px;
border-radius: 50px;
min-width: 0;
min-height: 0;
border-width: 1px;
border-style: solid;
font-weight: 600;
line-height: 1.2;
text-align: center;
margin-right: 1.6rem;
letter-spacing: -.01em;
}

.navButton2 {
background-color: black;
min-width: 0;
min-height: 0;
font-size: 1.4rem;
color: white;
padding: 7px 16px;
border-width: 1px;
border-style: solid;
border-radius: 50px;
font-weight: 600;
line-height: 1.2;
text-align: center;
letter-spacing: -.01em;
}

.exploreBtn {
background-color: #d8e8e3;
color: rgba(0,0,0,.87);
font-size: 1.4rem;
padding: 7px 16px;
border-radius: 50px;
min-width: 35px;
min-height: 35px;
border-width: 1px;
border-style: solid;
font-weight: 600;
line-height: 1.2;
text-align: center;
margin-right: 1.6rem;
letter-spacing: -.01em;
margin-top: 3.2rem;
}

.storiesBtn {
  background-color: #1E3932;
  color: white;
  font-size: 1.4rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-top: 3.2rem;
}

.joinBtn {
  background-color: #f1f8f6;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-top: 3.2rem;
  font-size: 1.6rem;
}

.orderBtn {
  background-color: #ebdbc8;
  color: #1e3932;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-top: 3.2rem;
  font-size: 1.6rem;
}

.discoverBtn {
  background-color: #ebdbc8;
  color: #1e3932;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-top: 3.2rem;
  font-size: 1.6rem;
}

.learnBtn {
  background-color: #d4e9e2;
  color: #1e3932;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-top: 3.2rem;
  font-size: 1.6rem;
}

.pickupBtn {
  background-color: #d4e9e2;
  color: #1e3932;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 7px 16px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-top: 3.2rem;
  font-size: 1.6rem;
}

#lastBlock {
  margin-bottom: 50px;
}

.stores {
  padding: 32px 0px;
  font-size: 14px;
}